@font-face{
  font-family: "emigrate";
  src:
    url("fonts/emigrate-webfont.woff2") format("woff2"),
    url("fonts/emigrate-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "lampu";
  src:
    url("fonts/lampu_merah-webfont.woff2") format("woff2"),
    url("fonts/lampu_merah-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-bg-color: rgb(243, 207, 141);
}

body, html{
  height: 100%;
  background-color: rgb(255, 238, 202);
}

#content{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas: "header header header"
                       "left-sidebar article right-sidebar"
                       "footer footer footer";
  gap: 5px;
  height: 100%;
}

/* #content>div{
  border: 1px solid black;
} */

nav > button{
  font-size: 2em;
  border-radius: 0;
  background-color: var(--main-bg-color);
}

.header{
  grid-area: header;
  font-family: "emigrate";
  font-size: 5em;
  text-align: center;
  
}

.left-sidebar{
  grid-area: left-sidebar;
}

.right-sidebar{
  grid-area: right-sidebar;
}

.article{
  grid-area: article;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer{
  grid-area: footer;
  display: flex;
  padding: 2em 3em 2em 3em;
  align-items: center;
  justify-content: space-around;
}

.contact-head{
  font-family: "emigrate";
}

.foot-head .name{
  text-align: center;
  font-family: "emigrate";
  font-size: 2em;
}

.hours{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hours-head{
  font-family: "emigrate";
}

.meals{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "meal-head meal-head meal-head"
                       "burger nuggets fries";
  padding: 5px;
  gap: 5px;
}

.meals img{
  width: 100%;
  height: 90%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
}

.meals img:hover{
  background-color: rgb(255, 148, 148);
}

.meal-head, .about-head{
  grid-area: meal-head;
  font-family: "emigrate";
  font-size: 3em;
  text-align: center;
}

.meals img~div{
  font-family: "lampu";
  font-size: 2em;
  text-align: center;
}

.burger{
  grid-area: burger;
}

.nuggets{
  grid-area: nuggets;
}

.fries{
  grid-area: fries;
}

.text-about{
  padding: 1em;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  font-size: 2em;
  font-family: "lampu"
}

